In [42]:
import findspark
findspark.init()

In [43]:

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("Spark_Project").getOrCreate()

# Verify SparkContext is available
sc = spark.sparkContext

In [44]:
#file location and type
file_location="C:\\Users\\16478\\Desktop\\term 2\\1034\\Major_Contract_Awards.csv"
file_type="csv"

#csv options
infer_schema="true"   #to detect the column datatype
first_row_header="true"  #to take the header row
delimiter=","

#creating df
df=spark.read.format(file_type).option("inferSchema",infer_schema).option("header",first_row_header).load(file_location)
df.printSchema()
df.show(5)
select_df = df.select("Fiscal Year", "Region","Borrower Country","Borrower Country Code","Project ID","Project Name","Supplier Country","Supplier Country Code","Total Contract Amount (USD)")
print(select_df.count())

root
 |-- As of Date: string (nullable = true)
 |-- Fiscal Year: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Borrower Country: string (nullable = true)
 |-- Borrower Country Code: string (nullable = true)
 |-- Project ID: string (nullable = true)
 |-- Project Name: string (nullable = true)
 |-- Procurement Type: string (nullable = true)
 |-- Procurement Category: string (nullable = true)
 |-- Procurement Method: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- WB Contract Number: integer (nullable = true)
 |-- Contract Signing Date: string (nullable = true)
 |-- Supplier: string (nullable = true)
 |-- Supplier Country: string (nullable = true)
 |-- Supplier Country Code: string (nullable = true)
 |-- Total Contract Amount (USD): string (nullable = true)

+-------------+-----------+--------------------+----------------+---------------------+----------+--------------------+-------------------+--------------------+--------------------+------------+------------------+---------------------+--------------------+----------------+---------------------+---------------------------+
|   As of Date|Fiscal Year|              Region|Borrower Country|Borrower Country Code|Project ID|        Project Name|   Procurement Type|Procurement Category|  Procurement Method|Product line|WB Contract Number|Contract Signing Date|            Supplier|Supplier Country|Supplier Country Code|Total Contract Amount (USD)|
+-------------+-----------+--------------------+----------------+---------------------+----------+--------------------+-------------------+--------------------+--------------------+------------+------------------+---------------------+--------------------+----------------+---------------------+---------------------------+
|9/6/2017 0:00|       2004|              AFRICA|            Mali|                   ML|   P041723|Rural Infrastr (F...|Feasibility Studies| CONSULTANT SERVICES|Single Source Sel...|    IBRD/IDA|           1236192|       7/15/2003 0:00|        AGETIER-MALI|            Mali|                   ML|               $176,578.47 |
|9/6/2017 0:00|       2004|              AFRICA|            Mali|                   ML|   P041723|Rural Infrastr (F...|Feasibility Studies| CONSULTANT SERVICES|Single Source Sel...|    IBRD/IDA|           1236192|       7/15/2003 0:00|        AGETIER-MALI|            Mali|                   ML|                $38,386.63 |
|9/6/2017 0:00|       2004|              AFRICA|            Mali|                   ML|   P041723|Rural Infrastr (F...|Feasibility Studies| CONSULTANT SERVICES|Single Source Sel...|    IBRD/IDA|           1236192|       7/15/2003 0:00|        AGETIER-MALI|            Mali|                   ML|                $76,773.25 |
|9/6/2017 0:00|       2004|              AFRICA|            Mali|                   ML|   P041723|Rural Infrastr (F...|Feasibility Studies| CONSULTANT SERVICES|Single Source Sel...|    IBRD/IDA|           1236192|       7/15/2003 0:00|        AGETIER-MALI|            Mali|                   ML|                $92,127.90 |
|9/6/2017 0:00|       2004|EAST ASIA AND PAC...|       Indonesia|                   ID|   P040528|ID-W. JAVA ENVMT ...|Policy and Strategy| CONSULTANT SERVICES|Quality And Cost-...|    IBRD/IDA|           1233245|       8/19/2003 0:00|ARCADIS EUROCONSU...|       Indonesia|                   ID|                $10,615.20 |
+-------------+-----------+--------------------+----------------+---------------------+----------+--------------------+-------------------+--------------------+--------------------+------------+------------------+---------------------+--------------------+----------------+---------------------+---------------------------+
only showing top 5 rows

151623

In [45]:
from pyspark.sql.functions import isnan, when, count, col


#finding null values in columns
null_df=select_df.select([count(when(col(c).isNull(), 0)).alias(c) for c in select_df.columns])
print(null_df)
null_df.show()
# creating new df without null values
filter_df=select_df.filter(select_df['Region'].isNotNull() & select_df['Total Contract Amount (USD)'].isNull())
filter_df.select("*").show()
# verification for no of null values removed
required_df = select_df.filter(select_df['Total Contract Amount (USD)'].isNotNull())
print(select_df.count()-required_df.count())
required_df.show()

DataFrame[Fiscal Year: bigint, Region: bigint, Borrower Country: bigint, Borrower Country Code: bigint, Project ID: bigint, Project Name: bigint, Supplier Country: bigint, Supplier Country Code: bigint, Total Contract Amount (USD): bigint]
+-----------+------+----------------+---------------------+----------+------------+----------------+---------------------+---------------------------+
|Fiscal Year|Region|Borrower Country|Borrower Country Code|Project ID|Project Name|Supplier Country|Supplier Country Code|Total Contract Amount (USD)|
+-----------+------+----------------+---------------------+----------+------------+----------------+---------------------+---------------------------+
|          0|     0|               0|                    0|         0|           0|               0|                    0|                        413|
+-----------+------+----------------+---------------------+----------+------------+----------------+---------------------+---------------------------+

+-----------+--------------------+-------------------+---------------------+----------+--------------------+-------------------+---------------------+---------------------------+
|Fiscal Year|              Region|   Borrower Country|Borrower Country Code|Project ID|        Project Name|   Supplier Country|Supplier Country Code|Total Contract Amount (USD)|
+-----------+--------------------+-------------------+---------------------+----------+--------------------+-------------------+---------------------+---------------------------+
|       2004|EUROPE AND CENTRA...|            Romania|                   RO|   P056337|        MINE CLOSURE|            Romania|                   RO|                       null|
|       2004|EUROPE AND CENTRA...|         Uzbekistan|                   UZ|   P051370|            HEALTH 2|             France|                   FR|                       null|
|       2004|MIDDLE EAST AND N...| Yemen, Republic of|                   RY|   P062714|RY-IRRIGATION IMP...| Yemen, Republic of|                   RY|                       null|
|       2004|MIDDLE EAST AND N...| West Bank and Gaza|                   GZ|   P049708|PAL EXPAT PROF PR...| West Bank and Gaza|                   GZ|                       null|
|       2004|LATIN AMERICA AND...|             Brazil|                   BR|   P051696|BR SAO PAULO METR...|             Brazil|                   BR|                       null|
|       2004|EAST ASIA AND PAC...|           Cambodia|                   KH|   P065798|KH-BIO & PROTEC A...|           Cambodia|                   KH|                       null|
|       2004|EAST ASIA AND PAC...|          Indonesia|                   ID|   P055821|    ID-URBAN POVERTY|          Indonesia|                   ID|                       null|
|       2004|EAST ASIA AND PAC...|          Indonesia|                   ID|   P072852|             ID-UPP2|          Indonesia|                   ID|                       null|
|       2004|LATIN AMERICA AND...|          Nicaragua|                   NI|   P064916|NI Natural Disast...|          Nicaragua|                   NI|                       null|
|       2004|EUROPE AND CENTRA...|         Tajikistan|                   TJ|   P058898|   RURAL INFRA REHAB|         Tajikistan|                   TJ|                       null|
|       2004|MIDDLE EAST AND N...|            Morocco|                   MA|   P056978|MA-Irrigation Bas...|            Morocco|                   MA|                       null|
|       2004|LATIN AMERICA AND...|             Mexico|                   MX|   P057531| MX Basic Ed. APL II|             Mexico|                   MX|                       null|
|       2004|MIDDLE EAST AND N...|            Lebanon|                   LB|   P050529|LB - Cultural Her...|            Lebanon|                   LB|                       null|
|       2004|LATIN AMERICA AND...|           Honduras|                   HN|   P060785|HN ECONOMIC & FIN...|          Nicaragua|                   NI|                       null|
|       2004|              AFRICA|             Zambia|                   ZM|   P057167| ZM-TEVET SIM (FY01)|             Zambia|                   ZM|                       null|
|       2004|              AFRICA|         Madagascar|                   MG|   P072987|MG-MultiSec STI/H...|         Madagascar|                   MG|                       null|
|       2004|EAST ASIA AND PAC...|              China|                   CN|   P003654|CN-Nat Hwy2/Hunan...|             Canada|                   CA|                       null|
|       2004|LATIN AMERICA AND...|Trinidad and Tobago|                   TT|   P040108|TT POSTAL SERV. R...|Trinidad and Tobago|                   TT|                       null|
|       2004|LATIN AMERICA AND...|          Argentina|                   AR|   P052590|AR NAT HWY REHAB&...|          Argentina|                   AR|                       null|
|       2004|          SOUTH ASIA|             Bhutan|                   BT|   P074114|BT: Education Dev...|             Bhutan|                   BT|                       null|
+-----------+--------------------+-------------------+---------------------+----------+--------------------+-------------------+---------------------+---------------------------+
only showing top 20 rows

413
+-----------+--------------------+--------------------+---------------------+----------+--------------------+--------------------+---------------------+---------------------------+
|Fiscal Year|              Region|    Borrower Country|Borrower Country Code|Project ID|        Project Name|    Supplier Country|Supplier Country Code|Total Contract Amount (USD)|
+-----------+--------------------+--------------------+---------------------+----------+--------------------+--------------------+---------------------+---------------------------+
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|               $176,578.47 |
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                $38,386.63 |
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                $76,773.25 |
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                $92,127.90 |
|       2004|EAST ASIA AND PAC...|           Indonesia|                   ID|   P040528|ID-W. JAVA ENVMT ...|           Indonesia|                   ID|                $10,615.20 |
|       2004|EAST ASIA AND PAC...|           Indonesia|                   ID|   P040528|ID-W. JAVA ENVMT ...|           Indonesia|                   ID|                $95,536.79 |
|       2004|EAST ASIA AND PAC...|         Timor-Leste|                   TP|   P072647|TP-FUNDAMENTAL SC...|         Timor-Leste|                   TP|               $144,317.85 |
|       2004|EAST ASIA AND PAC...|         Timor-Leste|                   TP|   P072647|TP-FUNDAMENTAL SC...|         Timor-Leste|                   TP|               $115,712.54 |
|       2004|          SOUTH ASIA|          Bangladesh|                   BD|   P071435|BD: Rural Transpo...|              Sweden|                   SE|             $5,329,142.50 |
|       2004|          SOUTH ASIA|          Bangladesh|                   BD|   P071435|BD: Rural Transpo...|           Australia|                   AU|             $5,144,486.61 |
|       2004|          SOUTH ASIA|              Bhutan|                   BT|   P057570| DEVELOPMENT PROJECT|              Bhutan|                   BT|               $257,620.49 |
|       2004|          SOUTH ASIA|               India|                   IN|   P035158|Third Andhra Prad...|               India|                   IN|             $1,214,054.72 |
|       2004|          SOUTH ASIA|               India|                   IN|   P050668|IN: MUMBAI URBAN ...|       United States|                   US|               $155,622.19 |
|       2004|          SOUTH ASIA|               India|                   IN|   P050668|IN: MUMBAI URBAN ...|       United States|                   US|               $881,859.10 |
|       2004|EUROPE AND CENTRA...|             Albania|                   AL|   P074905|PWR SECT REHAB/RE...|           Argentina|                   AR|               $104,317.13 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                 $8,174.18 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                $14,596.75 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                $12,261.27 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                 $8,758.05 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                $14,596.73 |
+-----------+--------------------+--------------------+---------------------+----------+--------------------+--------------------+---------------------+---------------------------+
only showing top 20 rows

In [46]:
#removing the $ character from amount
#from pyspark.sql.functions import translate
newDf_1=select_df.withColumn('Total Contract Amount (USD)', translate('Total Contract Amount (USD)', '$', ''))    #replace
newDf=newDf_1.withColumn('Total Contract Amount (USD)', translate('Total Contract Amount (USD)', ',', ''))    #replace
newDf.show()
# changing the data type of amount to Float
#from pyspark.sql.types import StringType, DateType, FloatType
datatype_change_df = newDf.withColumn("Total Contract Amount (USD)" , newDf["Total Contract Amount (USD)"].cast(FloatType()))
datatype_change_df.printSchema()

+-----------+--------------------+--------------------+---------------------+----------+--------------------+--------------------+---------------------+---------------------------+
|Fiscal Year|              Region|    Borrower Country|Borrower Country Code|Project ID|        Project Name|    Supplier Country|Supplier Country Code|Total Contract Amount (USD)|
+-----------+--------------------+--------------------+---------------------+----------+--------------------+--------------------+---------------------+---------------------------+
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                 176578.47 |
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                  38386.63 |
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                  76773.25 |
|       2004|              AFRICA|                Mali|                   ML|   P041723|Rural Infrastr (F...|                Mali|                   ML|                  92127.90 |
|       2004|EAST ASIA AND PAC...|           Indonesia|                   ID|   P040528|ID-W. JAVA ENVMT ...|           Indonesia|                   ID|                  10615.20 |
|       2004|EAST ASIA AND PAC...|           Indonesia|                   ID|   P040528|ID-W. JAVA ENVMT ...|           Indonesia|                   ID|                  95536.79 |
|       2004|EAST ASIA AND PAC...|         Timor-Leste|                   TP|   P072647|TP-FUNDAMENTAL SC...|         Timor-Leste|                   TP|                 144317.85 |
|       2004|EAST ASIA AND PAC...|         Timor-Leste|                   TP|   P072647|TP-FUNDAMENTAL SC...|         Timor-Leste|                   TP|                 115712.54 |
|       2004|          SOUTH ASIA|          Bangladesh|                   BD|   P071435|BD: Rural Transpo...|              Sweden|                   SE|                5329142.50 |
|       2004|          SOUTH ASIA|          Bangladesh|                   BD|   P071435|BD: Rural Transpo...|           Australia|                   AU|                5144486.61 |
|       2004|          SOUTH ASIA|              Bhutan|                   BT|   P057570| DEVELOPMENT PROJECT|              Bhutan|                   BT|                 257620.49 |
|       2004|          SOUTH ASIA|               India|                   IN|   P035158|Third Andhra Prad...|               India|                   IN|                1214054.72 |
|       2004|          SOUTH ASIA|               India|                   IN|   P050668|IN: MUMBAI URBAN ...|       United States|                   US|                 155622.19 |
|       2004|          SOUTH ASIA|               India|                   IN|   P050668|IN: MUMBAI URBAN ...|       United States|                   US|                 881859.10 |
|       2004|EUROPE AND CENTRA...|             Albania|                   AL|   P074905|PWR SECT REHAB/RE...|           Argentina|                   AR|                 104317.13 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                   8174.18 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                  14596.75 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                  12261.27 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                   8758.05 |
|       2004|EUROPE AND CENTRA...|Bosnia and Herzeg...|                   BA|   P070995|           COMM DEVT|Bosnia and Herzeg...|                   BA|                  14596.73 |
+-----------+--------------------+--------------------+---------------------+----------+--------------------+--------------------+---------------------+---------------------------+
only showing top 20 rows

root
 |-- Fiscal Year: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Borrower Country: string (nullable = true)
 |-- Borrower Country Code: string (nullable = true)
 |-- Project ID: string (nullable = true)
 |-- Project Name: string (nullable = true)
 |-- Supplier Country: string (nullable = true)
 |-- Supplier Country Code: string (nullable = true)
 |-- Total Contract Amount (USD): float (nullable = true)

In [47]:
#Overall amount spent for all projects year Wise
grouped_df=datatype_change_df.groupBy('Fiscal Year').agg(sum('Total Contract Amount (USD)').cast(DecimalType(20, 2)).alias('Total_Amt_spent'))
sorted_df=grouped_df.sort("Fiscal Year",ascending = [True])
sorted_df.show()

+-----------+---------------+
|Fiscal Year|Total_Amt_spent|
+-----------+---------------+
|       2004|  8802666003.21|
|       2005|  9455225201.82|
|       2006|  8058946978.08|
|       2007|  9946680178.06|
|       2008| 12509365465.06|
|       2009| 11107510212.79|
|       2010| 14258776029.20|
|       2011| 16555182762.57|
|       2012| 16522654897.56|
|       2013| 15405735943.30|
|       2014| 14467766184.78|
|       2015| 11843495996.41|
|       2016| 14087775010.02|
|       2017| 10783231557.83|
|       2018|   813062335.13|
+-----------+---------------+

In [48]:

#details of Amount spent Country wise 
grouped_df=datatype_change_df.groupBy('Borrower Country').agg(sum('Total Contract Amount (USD)').cast(DecimalType(20, 2)).alias('Total_Amt_spent'))
sorted_df=grouped_df.sort(["Total_Amt_spent"],ascending = [False])
sorted_df.show()

+--------------------+---------------+
|    Borrower Country|Total_Amt_spent|
+--------------------+---------------+
|               India| 18803255974.53|
|               China| 17471407861.32|
|              Brazil|  9149722836.44|
|           Argentina|  7227734355.89|
|             Vietnam|  6764613349.50|
|Egypt, Arab Repub...|  5499074063.37|
|            Pakistan|  4997625017.26|
|            Ethiopia|  4612266885.07|
|              Africa|  4241284631.58|
|          Bangladesh|  4237774397.43|
|         Afghanistan|  4038329869.76|
|          Azerbaijan|  3888039333.95|
|             Nigeria|  3628668399.11|
|          Kazakhstan|  3564597973.96|
|           Indonesia|  3296791275.48|
|  Russian Federation|  3292233554.32|
|Congo, Democratic...|  3099829838.55|
|        South Africa|  3072498194.63|
|               Kenya|  2856797790.69|
|              Turkey|  2839801399.44|
+--------------------+---------------+
only showing top 20 rows

In [49]:
#No of projects undertaken in Each segment
grouped_df=datatype_change_df.groupBy('Project Name').agg(count('Project Name').alias('Projects_count')).sort(["Projects_count"],ascending = [False])
grouped_df.show()

+--------------------+--------------+
|        Project Name|Projects_count|
+--------------------+--------------+
|           COMM DEVT|          1097|
|   VN-RURAL ENERGY 2|          1015|
|Proj. in Support ...|           775|
|DRC-Emerg MS Reha...|           652|
|CO Consolidation ...|           638|
|GT Support Rural ...|           601|
|                SIEP|           539|
|BD: Municipal Ser...|           522|
|SV Income Support...|           513|
|AF: Edu. Qlty. Im...|           499|
|NI PFM Modernizat...|           493|
|VIETNAM WATER RES...|           491|
|VN-SYSTEM ENERGY,...|           487|
|BD: HNP Sector Pr...|           464|
|NI (CRL) Roads Re...|           455|
|HN Trade Facilita...|           422|
|BI-Pub Works & Em...|           413|
|BD: Primary Educa...|           404|
|Gujarat Emergency...|           403|
|GT (APL2)LAND ADM...|           402|
+--------------------+--------------+
only showing top 20 rows

In [50]:
#No of projects undertaken in India by each segment
grouped_df=datatype_change_df.filter(datatype_change_df['Borrower Country']=='India').groupBy('Project Name').agg(count('Project Name').alias('No_of_projects')).sort(["No_of_projects"],ascending = [False])
#type(grouped_df)
grouped_df.show()

+--------------------+--------------+
|        Project Name|No_of_projects|
+--------------------+--------------+
|Gujarat Emergency...|           403|
|AP Econ Restructu...|           300|
|         IN: UP WSRP|           245|
|   Rajasthan Power I|           241|
|KAR WSHD DEVELOPMENT|           195|
|IN: AP RURAL POV ...|           190|
|   UP Sodic Lands II|           185|
|IN: KARNATAKA RWS...|           143|
|     IN: TN IAM WARM|           124|
|IN: Integrated Co...|           119|
|        IN: RAJ WSRP|            98|
|IN: TN Health Sys...|            96|
|IN: AP and Telang...|            84|
|        IN: UP Roads|            82|
|      IN: MAHAR WSIP|            82|
|     IN: POWERGRID V|            82|
|IN: Haryana Power...|            82|
|IN: MUMBAI URBAN ...|            77|
|IN: Assam Agric C...|            74|
|IN: Third Nationa...|            72|
+--------------------+--------------+
only showing top 20 rows

In [51]:
#No of projects undertaken Region wise by each segment
grouped_df=datatype_change_df.groupBy('Region').agg(count('region').alias('No_of_projects'),sum('Total Contract Amount (USD)').cast(DecimalType(20, 2)).alias('Amount_spent')).sort(['Amount_spent'],ascending = [False])
grouped_df.show()

+--------------------+--------------+--------------+
|              Region|No_of_projects|  Amount_spent|
+--------------------+--------------+--------------+
|              AFRICA|         39926|43063393092.96|
|          SOUTH ASIA|         19253|33684480315.77|
|EAST ASIA AND PAC...|         23617|30962263272.27|
|EUROPE AND CENTRA...|         30458|29028129118.84|
|LATIN AMERICA AND...|         30088|25304724454.49|
|MIDDLE EAST AND N...|          8206|12566615938.20|
|               OTHER|            75|    8468563.31|
+--------------------+--------------+--------------+